@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}
@* TODO: fixup this page *@
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-user"></i> Users Count</div>
                            <div>@ViewBag.usersCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-bolt"></i> Recharges Count</div>
                            <div>@ViewBag.rechargesCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-cubes"></i> Packages Count</div>
                            <div>@ViewBag.packagesCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-music"></i> Caller Tunes Count</div>
                            <div>@ViewBag.callerTunesCount</div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <hr class="m-4"/>
            <div class="h1 mb-4">Transaction Count</div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-user-pen"></i> Custom Recharge Transactions</div>
                            <div>@ViewBag.customRechargeTransactions</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-bolt"></i> Recharge Transactions</div>
                            <div>@ViewBag.rechargeTransactions</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-cubes"></i> Packages Transactions</div>
                            <div>@ViewBag.packageTransactions</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <div><i class="fas fa-music"></i> Caller Tunes Transactions</div>
                            <div>@ViewBag.serviceTransactions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <partial name="_AdminFooterPartial" />
</div>
