@model IEnumerable<OnlineMobileRecharge.Models.Package>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Packages List";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">View Packages</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">View Packages</li>
            </ol>
            <p>
                <a asp-action="PackageAdd" class="btn btn-primary">Create New</a>
            </p>
            <div class="card mb-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Name)
                                </th>
                                <th class="d-none d-lg-table-cell">
                                    @Html.DisplayNameFor(model => model.Package_Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Off_Net_Mins)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_On_Net_Mins)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Data)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_SMS)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Duration)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Package_Type)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Name)
                                    </td>
                                    <td class="d-none d-lg-table-cell text-truncate" style="max-width: 150px;">
                                        @Html.DisplayFor(modelItem => item.Package_Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Off_Net_Mins)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_On_Net_Mins)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Data) MB
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_SMS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Duration) days
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Package_Type)
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            @*
                                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Package_Id">Details</a>&nbsp
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Package_Id">Edit</a>&nbsp
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Package_Id">Delete</a>
                                        *@
                                            <a class="text-secondary" asp-action="PackageDetails" asp-route-id="@item.Package_Id">Details</a> &nbsp|&nbsp
                                            <a class="text-warning" asp-action="PackageEdit" asp-route-id="@item.Package_Id">Edit</a> &nbsp|&nbsp
                                            <a class="text-danger" asp-action="PackageDelete" asp-route-id="@item.Package_Id">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <partial name="_AdminFooterPartial" />
</div>