@model OnlineMobileRecharge.Models.RechargeTransaction

@{
    ViewData["Title"] = "Recharge Transaction Details";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Recharge Transaction Details</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Recharge Transaction Details</li>
            </ol>
            <div class="col-12">
                <div class="container">
                    <div class="row justify-content-center my-4 p-4">
                        <div class="col-xxl-10">
                            <div class="card mb-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered m-0 p-0">
                                        <tbody>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.IdentityUser.UserName)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.IdentityUser.UserName)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Mobile_Number)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Mobile_Number)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Name)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Name)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Description)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Description)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Price)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Price)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Tax_Rate)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Tax_Rate)% Tax Rate
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Taxed_Amount)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Taxed_Amount)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Amount)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Amount)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Recharge.Recharge_Type)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Recharge.Recharge_Type)
                                                </td>
                                            </tr>
                                            <tr class="d-flex flex-column d-sm-table-row">
                                                <td class="col-sm-2 fw-bold bg-opacity-10 bg-secondary">
                                                    @Html.DisplayNameFor(model => model.Transaction_Date)
                                                </td>
                                                <td class="col-sm-10">
                                                    @Html.DisplayFor(model => model.Transaction_Date)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="w-100 d-flex flex-row-reverse flex-wrap gap-2 p-2">
                                    <a asp-action="RechargeTransaction" class="btn btn-secondary">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <partial name="_AdminFooterPartial" />
</div>