@model IEnumerable<OnlineMobileRecharge.Models.TaxRate>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List Tax Rate";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">View Tax Rate</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">View Tax Rate</li>
            </ol>
            <p><a asp-action="TaxAdd" class="btn btn-primary">Create New</a></p>
            <div class="card mb-4 p-4 pb-0">
                <form asp-action="TaxRates" method="get" id="searchTaxRatesForm" class="d-grid">
                    <div class="mb-4">
                        <div class="d-flex flex-column gap-2">
                            <div class="w-100 d-flex flex-nowrap gap-0 border rounded">
                                <input id="searchQuery" name="searchQuery" class="form-control border-0" type="text" placeholder="Search..." />
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                            <div class="w-100 d-flex flex-column flex-lg-row gap-2">
                                <select id="sortOrder" name="sortOrder" class="form-control" onchange="formSubmit()">
                                    <option value="newest">Latest</option>
                                    <option value="oldest">Oldest</option>
                                    <option value="name">Name Ascending</option>
                                    <option value="name_desc">Name Descending</option>
                                </select>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Filter" />
                        </div>
                    </div>
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr class="text-center table-active">
                                        <th>
                                            @Html.DisplayNameFor(model => model.Tax_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Tax_Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Tax_Rate)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tax_Name)
                                            </td>
                                            <td class="d-none d-lg-table-cell text-truncate" style="max-width: 150px;">
                                                @Html.DisplayFor(modelItem => item.Tax_Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tax_Rate)
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <a class="text-secondary" asp-action="TaxDetails" asp-route-id="@item.Tax_Id">Details</a> &nbsp|&nbsp
                                                    <a class="text-warning" asp-action="TaxEdit" asp-route-id="@item.Tax_Id">Edit</a> &nbsp|&nbsp
                                                    <a class="text-danger" asp-action="TaxDelete" asp-route-id="@item.Tax_Id">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.Any() == false)
                            {
                                <div class="d3 text-center p-2 my-4">No Results Found</div>
                            }
                        </div>
                    </div>
                    <div class="pagination justify-content-center py-4">
                        <a href="javascript:void(0)" onclick="formSubmit(1)">
                            <span>
                                <i class="material-symbols-outlined"> keyboard_double_arrow_left </i>
                            </span>
                        </a>
                        <a href="javascript:void(0)" onclick="formSubmit(@ViewData["currentPage"]-1)">
                            <span>
                                <i class="material-symbols-outlined"> navigate_before </i>
                            </span>
                        </a>
                        <a href="javascript:void(0)" class="text-decoration-none"> @ViewData["currentPage"] </a>
                        <a href="javascript:void(0)" onclick="formSubmit(@ViewData["currentPage"]+1)">
                            <span>
                                <i class="material-symbols-outlined"> chevron_right </i>
                            </span>
                        </a>
                        <span class="text-secondary ms-auto"> Page @ViewData["currentPage"]  /  @ViewData["totalPages"] </span>
                        <input type="hidden" id="page" name="page" value="" />
                    </div>
                </form>
            </div>
        </div>
    </main>
    <partial name="_AdminFooterPartial" />
</div>
<script>
    function formSubmit(page) {
        document.getElementById("page").value = page;
        document.getElementById('searchTaxRatesForm').submit()
    };

    let params = new URLSearchParams(location.search);
    document.getElementById("searchQuery").value = params.get("searchQuery");
    let sortOrder = params.get("sortOrder");

    switch (sortOrder) {
        case "name":
            document.querySelector("option[value='name']").setAttribute("selected", "selected");
            break;
        case "name_desc":
            document.querySelector("option[value='name_desc']").setAttribute("selected", "selected");
            break;
    }
</script>