@model IEnumerable<OnlineMobileRecharge.Models.Recharge>
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Recharges Page";
}

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner p-5 mt-2">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                Recharges
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    Recharges
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End --><!-- Recharges Section Here -->
<section class="flight__onewaysection pb__60 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <!--<div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="common__filter__wrapper">
                    <h3 class="filltertext">
                        Filter
                    </h3>
                </div>
            </div>-->
            <div class="col-xxl-8 col-xl-10 col-lg-12">
                <div class="order__wrappers">
                    <div class="choose__valu">
                        <div class="oparator__texts">
                            <h5>Recharges</h5>
                        </div>
                        <div class="section__header pb__40">
                            <form asp-action="Recharges" method="get" id="searchRechargesForm" class="d-flex flex-column gap-2">
                                <div class="w-100 d-flex flex-nowrap gap-0 border rounded">
                                    <input id="searchQuery" name="searchQuery" class="form-control border-0" type="text" placeholder="Search..." />
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                                <select id="rechargeType" name="rechargeType" class="form-control" onchange="document.getElementById('searchRechargesForm').submit()">
                                    <option value="">All</option>
                                    <option value="prepaid">Prepaid</option>
                                    <option value="postpaid">Postpaid</option>
                                </select>
                            </form>
                        </div>
                        <div class="card border-secondary-subtle">
                            <div class="table-responsive rounded">
                                <table class="table text-center">
                                    <thead>
                                        <tr class="bg-secondary-subtle">
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Tax Rate</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Buy Now</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Name)</span></td>
                                                <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Amount)</span></td>
                                                <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Tax_Rate)</span></td>
                                                <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Type)</span></td>
                                                <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Price)</span></td>
                                                <td><a asp-action="RechargeOrderSummary" asp-route-id="@item.Recharge_Id" class="cmn__btn mt-1"><span>Buy</span></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination justify-content-center pt__10 pb__30">
                                <a href="javascript:void(0)">
                                    <span>
                                        <i class="material-symbols-outlined">
                                            navigate_before
                                        </i>
                                    </span>
                                </a>
                                <a href="javascript:void(0)">
                                    1
                                </a>
                                <a href="javascript:void(0)">
                                    2
                                </a>
                                <a href="javascript:void(0)">
                                    3
                                </a>
                                <a href="javascript:void(0)">
                                    ....
                                </a>
                                <a href="javascript:void(0)">
                                    30
                                </a>
                                <a href="javascript:void(0)">
                                    <span>
                                        <i class="material-symbols-outlined">
                                            chevron_right
                                        </i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recharges Section Here -->
