@model IEnumerable<OnlineMobileRecharge.Models.Recharge>
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Recharges Page";
}

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner p-5 mt-2">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                Recharges
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    Recharges
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End -->
<!-- Recharges Section Here -->
<section class="flight__onewaysection pb__60 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-10 col-lg-12">
                <div class="order__wrappers">
                    <div class="choose__valu">
                        <div class="oparator__texts">
                            <h5>Recharges</h5>
                        </div>
                        <form asp-action="Recharges" method="get" id="searchRechargesForm" class="d-grid">
                            <div class="section__header pb__40">
                                <div class="d-flex flex-column gap-2">
                                    <div class="w-100 d-flex flex-nowrap gap-0 border rounded">
                                        <input id="searchQuery" name="searchQuery" class="form-control border-0" type="text" placeholder="Search..." />
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                    <div class="w-100 d-flex flex-column flex-lg-row gap-2">
                                        <select id="rechargeType" name="rechargeType" class="form-control" onchange="formSubmit()">
                                            <option value="">All</option>
                                            <option value="Top_up">Top_up</option>
                                            <option value="Special">Special</option>
                                            <option value="postpaid">postpaid</option>
                                        </select>
                                        <select id="sortOrder" name="sortOrder" class="form-control" onchange="formSubmit()">
                                            <option value="name">Name Ascending</option>
                                            <option value="name_desc">Name Descending</option>
                                            <option value="price">Price Ascending</option>
                                            <option value="price_desc">Price Descending</option>
                                        </select>
                                    </div>
                                    <div class="w-100 d-flex flex-column flex-lg-row gap-2">
                                        <input type="number" id="minPrice" name="minPrice" class="form-control" placeholder="Minimum Price" />
                                        <input type="number" id="maxPrice" name="maxPrice" class="form-control" placeholder="Maximum Price" />
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Filter" />
                                </div>
                            </div>
                            <div class="card border-secondary-subtle">
                                <div class="table-responsive rounded">
                                    <table class="table text-center mb-0">
                                        <thead>
                                            @if (Model.Any() == true)
                                            {
                                                <tr class="bg-secondary-subtle">
                                                    <th scope="col">@Html.DisplayNameFor(model => model.Recharge_Name)</th>
                                                    <th scope="col">@Html.DisplayNameFor(model => model.Recharge_Amount)</th>
                                                    <th scope="col">@Html.DisplayNameFor(model => model.Recharge_Tax_Rate)</th>
                                                    <th scope="col">@Html.DisplayNameFor(model => model.Recharge_Type)</th>
                                                    <th scope="col">@Html.DisplayNameFor(model => model.Recharge_Price)</th>
                                                    <th scope="col">Buy Now</th>
                                                </tr>
                                            }
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Name)</span></td>
                                                    <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Amount)</span></td>
                                                    <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Tax_Rate)</span></td>
                                                    <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Type)</span></td>
                                                    <td><span class="d-block pt-3 mt-1">@Html.DisplayFor(modelItem => item.Recharge_Price)</span></td>
                                                    <td><a asp-action="RechargeOrderSummary" asp-route-id="@item.Recharge_Id" class="cmn__btn mt-1"><span>Buy</span></a></td>
                                                </tr>
                                            }
                                            @if (Model.Any() == false)
                                            {
                                                <div class="d3 text-center p-2 my-4">No Results Found</div>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination justify-content-center pt__40">
                                <a href="javascript:void(0)" onclick="formSubmit(1)">
                                    <span>
                                        <i class="material-symbols-outlined"> keyboard_double_arrow_left </i>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" onclick="formSubmit(@ViewData["currentPage"]-1)">
                                    <span>
                                        <i class="material-symbols-outlined"> navigate_before </i>
                                    </span>
                                </a>
                                <a href="javascript:void(0)"> @ViewData["currentPage"] </a>
                                <a href="javascript:void(0)" onclick="formSubmit(@ViewData["currentPage"]+1)">
                                    <span>
                                        <i class="material-symbols-outlined"> chevron_right </i>
                                    </span>
                                </a>
                                <span class="text-secondary ms-auto"> Page @ViewData["currentPage"]  /  @ViewData["totalPages"] </span>
                                <input type="hidden" id="page" name="page" value="" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recharges Section Here -->
<script>
    function formSubmit(page) {
        document.getElementById("page").value = page;
        document.getElementById('searchRechargesForm').submit()
    };

    let params = new URLSearchParams(location.search);
    document.getElementById("searchQuery").value = params.get("searchQuery");
    let rechargeType = params.get("rechargeType");
    let sortOrder = params.get("sortOrder");
    let minPrice = params.get("minPrice");
    let maxPrice = params.get("maxPrice");

    document.getElementById("minPrice").value = minPrice;
    document.getElementById("maxPrice").value = maxPrice;

    switch (rechargeType) {
        case "prepaid":
            document.querySelector("option[value='prepaid']").setAttribute("selected", "selected");
            break;
        case "postpaid":
            document.querySelector("option[value='postpaid']").setAttribute("selected", "selected");
            break;
    }
    switch (sortOrder) {
        case "name":
            document.querySelector("option[value='name']").setAttribute("selected", "selected");
            break;
        case "name_desc":
            document.querySelector("option[value='name_desc']").setAttribute("selected", "selected");
            break;
        case "price":
            document.querySelector("option[value='price']").setAttribute("selected", "selected");
            break;
        case "price_desc":
            document.querySelector("option[value='price_desc']").setAttribute("selected", "selected");
            break;
    }
</script>